<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Login Successful for:
				</h2>
				<p>
					Username: user
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="../Login/Login/">Logout</a>
				</p>
			</div>
		</div>
	</div>
</div>
    <!-- <p>login was a success</p>
 <form class="form-horizontal" asp-action="Thanks" method = "POST" role ="form">
    <div class="form-group">
  <label class="col-md-4 control-label" >Logout</label>
  <div class="col-md-4">
    <button class="btn btn-primary">Logout</button>
  </div>
  </form> -->
</div>
</body>
</html>